* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Some {
    color: #000;
    font-size: 72px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}

#Foto img {
    height: 446px;
}

#Night {
    margin: 200px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 43px;
    color: #000;
    margin-left: 60px;
    width: 568px;
}

#Sky p {
    color: #414651;
    width: 568px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px;
    height: 96px;
}

#Numbered {
    color: #155EEF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
    width: 568px;
    height: 144px;
    margin-left: 50px;
}

#Read {
    color: #CEA201;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 200px;
    margin: 30px;
    padding: 12px 32px;
    border: 2px solid #CEA201;
}

#Magic {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 30px;
    width: 722px;

}

#Know {
    color: #414651;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 722px;
    text-align: center;
    margin: 30px;
}

#Works {
    width: 100%;
}

#main_text {
    color: #00C76E;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 190px;
}

#Molecule {
    color: #FF5DA3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#Main {
    width: 100%;
}

#headline{
    margin-left: 70px;
    margin-bottom: 20px;
}

#MioreFoto {
    margin: 30px;
}

#Where {
    color: #414651;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    padding-bottom: 16px;
    width: 722px;
}

#See {
    margin-left: 30px;
}

#Ragaca {
    background-color: #FFDEF0;
    border: 6px solid #C11574;
    width: 722px;
    margin: 30px;
}

#FotoRagaca {
    margin: 30px;
}

#The {
    color: #00D4BC;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 550px;
}